.train2 {
    padding: 100px;
    font-family: sans-serif;
  }
  a {
    border: 1px solid black;
    padding: 17px;
    font-weight: bold;
    cursor: pointer;
  }
  h1 {
    font-weight: bold;
    font-size: 30px;
    padding-top: 20px;
  }
  #service {
    display: none;
  }